.TodoList {
  display: flex;
}

.Todo {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(191, 233, 254);
}

.isCompleted {
  margin-right: 5px;
  padding: 10px;
  background: green;
}

.isIncomplete {
  padding: 10px;
  margin-right: 5px;
  background: red;
}
